<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>backbone_metro</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <!-- backbone_metro references -->
    <link href="/css/default.css" rel="stylesheet" />

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/lodash.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/metrobone.js"></script>
    <script src="/js/lib/backbone.localStorage.js"></script>

    <script src="/js/models/todo.js"></script>
	<script src="/js/collections/todos.js"></script>
	<script src="/js/views/todos.js"></script>
	<script src="/js/views/app.js"></script>
	<script src="/js/routers/router.js"></script>

    <script src="/js/default.js"></script>
</head>
<body>
    <section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</header>
		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<div id="todo-list" data-win-control="WinJS.UI.ListView" data-win-options="{ itemTemplate: select('#todo-item') }">

			</div>
		</section>
		<footer id="footer"></footer>
	</section>
	<div id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</div>
    <div id="todo-item" data-win-control="WinJS.Binding.Template">
        <div>
            <div class="view">
			    <input class="toggle" type="checkbox" data-win-bind="checked: completed">
			    <label data-win-bind="innerText: title"></label>
			    <button class="destroy"></button>
		    </div>
		    <input class="edit" data-win-bind="value: title">
        </div>
    </div>
    <script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
			<label><%- title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>
	<script type="text/template" id="stats-template">
		<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
		<ul id="filters">
			<li>
				<a href="#/">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
            <% if (search !== false) { %>
            <li>
                <a class="selected" href="#/search/<%= search %>">'<%= search %>'</a>
            </li>
            <% } %>
		</ul>
		<% if (completed) { %>
		<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>
</body>
</html>
